.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title-recovery {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}

.desc-recovery {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-bottom: -15px;
}

.logo-img {
  width: 100%;
  height: auto;
}

.login-form {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.input-group {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.input-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
}

.input-group input.input-error {
  border-color: #ef4444;
}

.input-code {
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
}

.error-message {
  color: #ef4444;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}

.success-message {
  color: #10b981;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 600;
  text-align: center;
}

.btn-entrar {
  width: 90%;
  padding: 12px;
  background-color: #2b88ff;
  color: white;
  border: 1px solid #1a73e8;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 15px;
  height: 50px;
}

.btn-entrar:hover {
  background-color: #1a73e8;
  color: #ffffff;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.forgot-password {
  color: #0047ff;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}

.btn-google {
  width: 40%;
  height: 50px;
  padding: 8px 15px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-google img {
  width: 10px;
  height: 10px;
}
