.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Move o conjunto todo para baixo */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px; /* Limita o tamanho do container da logo */
  margin-bottom: -15px; /* Valor negativo aproxima a logo do formulário */
}

.logo-img {
  width: 100%;
  height: auto;
}

.login-form {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; /* Reduzi o espaço entre os campos do form */
}

.input-group {
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  background-color: #fff;
}

.btn-entrar {
  width: 100%;
  padding: 12px;
  background-color: #2b88ff;
  color: white;
  border: 1px solid #1a73e8;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 15px;
}

.forgot-password {
  color: #0047ff;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}

.btn-google {
  width: 65%;
  padding: 8px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  margin-top: 10px;
}


.btn-google img {
  width: 30px;
  height: 30px;
}
